@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
*{
    box-sizing: border-box;
}
body, html{
    height: 100vh;
    margin: 0;
}

#parent{
    position: relative;
}
.image-area{
    background-image: url('assets/fundo_loading.png');
    background-size: cover;
    background-position: center center;
    height: 100%;
    filter: blur(2px);
}


.loader{
    position: absolute;
    top: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 80px;
    color: #F7CAC9;

}

.loader::after{
    content: '\2026';
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;
    animation: dots steps(4, end) 2s infinite;
    width: 1px;
}

@keyframes dots {
    to {
        width: 1.25em;
    }
}

